.container {
    width: 40px;
    height: 120px;
    padding: 24px;
    background-color: #f1f1f1;
    border-radius: 4px;
    flex: 0 0 25%;
}

.title {
    color: #FF6600;
    font-family: var(--font-montserrat);
    line-height: 32px;
    font-size: 24px;
    margin-bottom: 24px;
}

.text {
    color: #3D3C3C;
    font-family: var(--font-inter);
    line-height: 32px;
    font-size: 20px;
}