span {
    display: inline-block;
}

.holderContainer {
    margin-left: 50px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wrapper {
    font-weight: 600;
    position: relative;
    padding-left: 30px;
    font-family: Verdana, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    width: 10px;
    height: 100%;
    background: linear-gradient(94.5deg, #f60, rgba(216, 128, 70, 0.6));
}

.descriptionQuestion {
    /* font-size: var(--group-2-h6-size);
    color: var(--orange);
    font-family: var(--font-montserrat);
    gap: var(--gap-5xs) */
    font-size: 18px;
    font-weight: 600;
    color: var(--orange);
    font-family: var(--font-montserrat);
    font-variant: small-caps;
    line-height: 24px;
    letter-spacing: 1.4px;
}

.descriptionPrimary {
    font-family: var(--font-inter);
    font-size: 32px;
    font-weight: 600;
    margin-top: 8px;
    color: var(--black-shade);
    line-height: 48px;
    letter-spacing: 0.06px;
}

.descriptionSecondary {
    margin-top: 50px;
    color: var(--color-gray-100);
    display: block;
    font-family: var(--font-inter);
    /* font-size: var(--font-size-5xl); */
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.5px;
}
.descriptionSecondaryMulti {
    margin-top: 30px;
    color: var(--color-gray-100);
    display: block;
    font-family: var(--font-inter);
    /* font-size: var(--font-size-5xl); */
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.5px;
    width: 100%;
}

@media (max-width: 796px) {
    .holderContainer{
        margin: 50px 20px 50px;
    }
    .descriptionSecondary {
        font-size: var(--font-size-lg)
    }
    .descriptionPrimary{
        font-size: var(--font-size-5xl);
    }
    .buttonContainer{
        display: flex;
        justify-content: center;
    }

}