.mainContainer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    font-size: var(--font-size-base);
    color: var(--white);
    font-family: var(--font-inter);
    background-color: #3d3c3c;
}

.navContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brandLogo {
    width: 100px;
    height: auto;
}

.navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navItems > a {
    margin-left: 20px;
}

/* ---Sticky--- */
.sticky {
    background-color: rgba(47, 46, 46, 0.78);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 900px) {
    .navContent {
        justify-content: flex-start;
        margin: 0 50px;
        height: 100%;
    }

    .navItems {
        z-index: 3;
        display: none;
        position: absolute;
        top: 100px;
        background-color: #757575;
        width: 100vw;
        text-align: left;
        left: 0px;
        right: 0px;
        padding: 10px 0px;
        min-height: 183px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        letter-spacing: 0.3px;
    }

    .open {
        display: flex;
        justify-content: flex-start !important;
        align-items: center !important;
        flex-direction: column !important;
    }

    .navItems > a {
        margin: 20px 0 0 0;
    }

    /*---Hamburger---*/
    .hamburger {
        display: block;
        height: 30px;
        width: 30px;
        right: 15px;
        position: absolute;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

    }

    .hamburger i {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: var(--white);
        border-radius: 0px;
        opacity: 1;
        left: 0;
        margin: 5px 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .hamburger i:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .hamburger i:nth-child(2) {
        top: 8px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .hamburger i:nth-child(3) {
        top: 16px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .hamburger.open i:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -1px;
        left: 4px;
    }

    .hamburger.open i:nth-child(2) {
        width: 0;
        opacity: 0;
    }

    .hamburger.open i:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 20px;
        left: 4px;
    }

}