.careerContainer {
  padding-top: 100px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.descriptionComponent{
  width: 50%;
  color: var(--white)!important;
}

@media screen and (max-width: 796px){
  .descriptionComponent{
    width: fit-content;
  }
}
