.testimonalsParent {
  background-image: url("../assets/common/testimonials.png");
  background-size: cover; 
  min-height: 120vh;
}

.layer {
  background: rgba(27, 27, 27, 0.80);
  min-height: 120vh;
  display: flex;
  justify-content: center;
}

.testimonials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    

    width: 80%;
}

.sectionHeadParent {
  justify-content: center;
  display: flex;
}

.testimonialCards {
  display: flex;
  flex-direction: row;
  /* gap: var(--gap-9xs); */
  justify-content: space-between;
}
@media screen and (max-width: 796px){
    .testimonalsParent {
        min-height: 100vh;
    }
    .layer{
        min-height: 100vh;
        padding-top: 50px;
    }
}