.testimonalsParent {
  background-image: url("../assets/common/testimonials.png");
  background-size: cover; 
  height: 120vh;
}

.layer {
  background: rgba(27, 27, 27, 0.80);
  height: 120vh;
  display: flex;
  justify-content: center;
}

.testimonials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    

    width: 80%;
}

.sectionHeadParent {
  justify-content: center;
  display: flex;
}

.testimonialCards {
  display: flex;
  flex-direction: row;
  /* gap: var(--gap-9xs); */
  justify-content: space-between;
}