.loremIpsum,
.loremIpsumSit {
  position: relative;
  line-height: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 805px;
}
.loremIpsumSit {
  font-size: var(--font-size-13xl);
  line-height: 48px;
  font-family: var(--font-inter);
  color: var(--white);
  width: 819px;
}
.frameWrapper,
.loremIpsumParent {
  display: flex;
  flex-direction: column;
}
.loremIpsumParent {
  width: 805px;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-5xs);
}
.frameWrapper {
  align-items: center;
  justify-content: flex-start;
}
.loremIpsumDolor {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--white);
  display: inline-block;
  width: 1140px;
}
.cardCapabilitiesParent,
.frameParent {
  position: absolute;
  top: 60px;
  left: calc(50vw - (1160px / 2));;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.cardCapabilitiesParent {
  top: 296px;
  left: 40px;
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-21xl);
}
.frameIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameContainer,
.frameGroup {
  display: flex;
  flex-direction: row;
}
.frameContainer {
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-300);
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
}
.frameGroup {
  position: absolute;
  top: 776px;
  left: calc(50% - 56px);
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.cards {
  position: absolute;
  top: 2301px;
  left: 0;
  background-color: var(--color-black);
  width: 100%;
  height: 864px;
  overflow: hidden;
  text-align: center;
  font-size: var(--group-2-h6-size);
  color: var(--orange);
  font-family: var(--font-montserrat);
}
