.productsContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 80px;
}

.productsTitle {
    width: 80%;
    justify-content: center;
    display: flex
}

.tabTitle{
    font-size: var(--font-size-lg);
    color: var(--orange);
    padding: 5px 30px;
    cursor: pointer;
    font-family: var(--font-montserrat);
}
.tabTitleMap{
    border-left: 1px solid var(--orange);
}
@media screen and (max-width: 796px) {
    .productsTitle {
        width: 90%;
        justify-content: center;
        display: flex
    }
    .tabTitle{
        font-size: var(--font-size-sm);
        color: var(--orange);
        padding: 5px 5px;
        cursor: pointer;
        font-family: var(--font-montserrat);
    }
}
.productItems{
    width: 90%;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}
@media screen and (max-width: 912px) {
    .productItems{
        width: 100%;
        margin-top: 20px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

    }


}.productItems2{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;

}
@media screen and (max-width: 912px) {
    .productItems2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        height: fit-content;

    }
}
.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 10px 0;
    background: linear-gradient(94.5deg, #f60, rgba(216, 128, 70, 0.6));
    text-decoration: none;
    border-radius:5px;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
    
}
.button >a {
    text-decoration: none;
    color: var(--white);
}

.button:hover {
    opacity: 0.8;
}

.modalTitle {
    font-family: var(--font-inter);
    color: var(--orange);
}

.modalDesc {
    font-family: var(--font-inter);
    color: "#333";
    line-height: 25px;
    letter-spacing: 0.15%;
}