.productsContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
}

.productsTitle {
    width: 80%;
    justify-content: center;
    display: flex
}

.tabTitle{
    font-size: var(--font-size-lg);
    color: var(--orange);
    padding: 5px 30px;
    cursor: pointer;
    font-family: var(--font-montserrat);
}
.tabTitleMap{
    border-left: 1px solid var(--orange);
}
@media screen and (max-width: 796px) {
    .productsTitle {
        width: 90%;
        justify-content: center;
        display: flex
    }
    .tabTitle{
        font-size: var(--font-size-sm);
        color: var(--orange);
        padding: 5px 5px;
        cursor: pointer;
        font-family: var(--font-montserrat);
    }
}
.productItems{
    width: 90%;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}
@media screen and (max-width: 912px) {
    .productItems{
        width: 100%;
        margin-top: 20px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

    }


}.productItems2{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;

}
@media screen and (max-width: 912px) {
    .productItems2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        height: fit-content;

    }
}
