.productName {
  position: absolute;
  top: 0;
  left: 39px;
  line-height: 32px;
  text-transform: capitalize;
  font-weight: 600;
}
.loremIpsumDolor {
  position: absolute;
  top: 40px;
  left: calc(50% - 121px);
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 242px;
}
.productNameParent {
  position: absolute;
  top: 184px;
  left: 11px;
  width: 242px;
  height: 88px;
}
.productImagesChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.productImages {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  width: 264px;
  height: 160px;
}
.property1frame156 {
  border-radius: var(--br-5xl);
  width: 264px;
  height: 296px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--orange);
  font-family: var(--font-montserrat);
}
